:root {
	--black-color: #000000;
	--primary-color: #1e0059;
	--active-color: #764ae6;
	--background-color: #f2f6fe;
	--white-color: #ffffff;
	--dark-blue-color: #1b52bd;
	--light-blue-color: #1b52bd;
	--dark-orange-color: #d88a3e;
	--light-orange-color: #ffeee2;
	--dark-purple-color: #c97acb;
	--light-purple-color: #fdeeff;
}
